// Here you can add other styles
#stenoKeyboard{
	/* Positioning */
	left: 555px;
	top: 228px;

	/* Box */
	width: 50%;
	height: 225px;
	padding: 10px;
	border: 1px solid #000000;
	margin: 0;

	/* Colors */
	background-color: #FFFFFF;
}

.stenoNumberBar {
	/* Box */
	width: 100%;
	height: 20%;
	padding: 0;
	border: 0;
	margin: 0 0 0.625% 0;
}

.stenoUpperBank {
	/* Box */
	width: 100%;
	height: 20%;
	padding: 0;
	border: 0;
	margin: 0.625% 0 0.625% 0;
}

.stenoLowerBank {
	/* Box */
	width: 100%;
	height: 20%;
	padding: 0;
	border: 0;
	margin: 0.625% 0 0.625% 0;
}

.stenoVowelKeys {
	/* Box */
	width: 100%;
	height: 20%;
	padding: 0;
	border: 0;
	margin: 0.625% 0 1% 0;
}

.numberBar {
	/* Positioning */
	float: left;

	/* Box */
	width: 100%;
	height: 100%;
	padding: 0;
	border: 0;
	margin: 0;

	/* Color */
	color: #ffffff;

	/* Text */
	font-family: sans-serif;
	font-size: 22px;
	text-align: center;
	line-height: 44px;

	/* Styling */
	-webkit-border-radius: 0.9375% / 12.5%;
	-moz-border-radius: 0.9375% / 12.5%;
	border-radius: 0.9375% / 12.5%;
}

.stenoKey {
	/* Positioning */
	float: left;

	/* Box */
	width: 8.65%;
	height: 100%;
	padding: 0;
	border: 0;
	margin: 0 0.75% 0 0.75%;

	/* Color */
	color: #ffffff;
	background-color: #000000;

	/* Text */
	font-family: sans-serif;
	font-size: 20px;
	text-align: center;
	line-height: 41px;
}

.stenoKeyNumber {
	/* Positioning */
	float: left;

	/* Box */
	width: 4%;
	height: 100%;
	padding: 0;
	border: 0;
	margin: 0 0.075% 0 0.075%;

	/* Color */
	color: #ffffff;
	background-color: black;

	/* Text */
	font-family: sans-serif;
	font-size: 10px;
	text-align: center;
	line-height: 41px;
}

.square {
	/* Styling */
	-webkit-border-radius: 12.5% / 7.5%;
	-moz-border-radius: 12.5% / 7.5%;
	border-radius: 12.5% / 7.5%;
}

.rounded {
	/* Styling */
	-webkit-border-radius: 12.5% / 7.5%;
	-webkit-border-bottom-right-radius: 50% 30%;
	-webkit-border-bottom-left-radius: 50% 30%;
	-moz-border-radius: 12.5% / 7.5%;
	-moz-border-radius-bottomright: 50% 30%;
	-moz-border-radius-bottomleft: 50% 30%;
	border-radius: 12.5% / 7.5%;
	border-bottom-right-radius: 50% 30%;
	border-bottom-left-radius: 50% 30%;
}

#stenoKey-0, #stenoKey-10 {
	/* Box */
	margin-left: 0;
}

#stenoKey-9, #stenoKey-19 {
	/* Box */
	margin-right: 0;
}

#stenoKey-20 {
	/* Box */
	margin-left: 30.625%;
	margin-right: 0.3125%;
}

#stenoKey-21 {
	/* Box */
	margin-left: 0.3125%;
	margin-right: 1.5625%;
}

#stenoKey-22 {
	/* Box */
	margin-left: 1.5625%;
	margin-right: 0.3125%;
}

#stenoKey-23 {
	/* Box */
	margin-left: 0.3125%;
}
#stenoKeyNumberBar {
	/* Positioning */
	float: left;

	/* Box */
	width: 100%;
	height: 100%;
	padding: 0;
	border: 0;
	margin: 0;

	/* Color */	
	color: #ffffff;
	background-color: #000000;
	
	/* Text */
	font-family: sans-serif;
	font-size: 22px;
	text-align: center;
	line-height: 44px;	

	/* Styling */
	-webkit-border-radius: 0.9375% / 12.5%;
	-moz-border-radius: 0.9375% / 12.5%;
	border-radius: 0.9375% / 12.5%;
}
.input-key-steno {
	width: 80%;
	color: black;
	text-align: center;
	text-transform:uppercase
}
#stdKeyboard{
	/* Positioning */
	left: 15px;
	top: 228px;
	
	/* Box */
	width: 100%; /* will fit 15 regular-sized keys horizontally */
	height: 100%; /* will fit 5 regular-sized keys vertically */
	padding: 10px;
	border: 1px solid	#000000;
	margin: 0;

	/* Colors */
	background-color: #ffffff;
}

.stdRow {
	/* Box */
	width: 100%;
	height: 20%; /* will fit 5 rows in the keyboard */
	padding: 0;
	border: 0;
	margin: 0;
}

.stdKey {
	/* Positioning */
	float: left;

	/* Box */
	width: 6%; /* 100% / 15 (keys) - (2 (left and right) * 0.333% (margin)) */
	height: 90%; /* 100% - (15 (ratio across width / row height) * (2 (left and right) * 0.333% (margin))) */
	padding: 0;
	border: 0;
	margin: 0.333%; /* width and height depend on this value. change accordingly */

	/* Colors */
	color: #ffffff;
	background-color: #000000;

	/* Text */
	font-family: sans-serif;
	font-size: 10.5px; /* 250px (stdKeyboard height) * 20% (stdRow height) * 90% (stdKey height) / 3 */
	font-weight: bold;
	line-height: 31.5px; /* 250px (stdKeyboard height) * 20% (stdRow height) * 90% (stdKey height) */
	text-align: center;

	/* Styling */
	-webkit-border-radius: 10%;
	-moz-border-radius: 10%;
	border-radius: 10%;
}

#stdKeyBackspace{
	/* Box */
	width: 12.666%;
}

#stdKeyTab{
	/* Box */
	width: 9.333%;
}

#stdKeyBackslash{
	/* Box */
	width: 9.333%;
}

#stdKeyCapsLock{
	/* Box */
	width: 11%;
}

#stdKeyEnter{
	/* Box */
	width: 14.333%;
}

#stdKeyLeftShift{
	/* Box */
	width: 14.333%;
}

#stdKeyRightShift{
	/* Box */
	width: 17.666%;
}

#stdKeyLeftControl{
	/* Box */
	width: 9.333%;
}

#stdKeyLeftAlt{
	/* Box */
	width: 9.333%;
}

#stdKeySpace{
	/* Box */
	width: 39.333%;
}

#stdKeyRightAlt{
	/* Box */
	width: 9.333%;
}

#stdKeyRightControl{
	/* Box */
	width: 9.333%;
}

.upper {
	/* Positionning */
	float: left;
	
	/* Box */
	height: 50%;
	width: 100%;

	/* Text */
	line-height: 21px; /* 250px (stdKeyboard height) * 20% (stdRow height) * 90% (stdKey height) / 3 * 2 */
	text-align: center;
}

.lower {
	/* Positioning */
	float: left;
	
	/* Box */
	height: 50%;
	width: 100%;
	
	/* Text */
	line-height: 10.5px; /* 250px (stdKeyboard height) * 20% (stdRow height) * 90% (stdKey height) / 3 */
	text-align: center;
}

.lower-left {
	/* Positioning */
	float: left;

	/* Box */
	height: 50%;
	width: 100%;

	/* Text */
	line-height: 10.5px; /* 250px (stdKeyboard height) * 20% (stdRow height) * 90% (stdKey height) / 3 */
	text-align: left;
}